<footer id="footer">
    <div class="container footer_class">
        <div class="row">
            <aside class="col-md-4">
                <div class="footer__title">Serwis</div>
                <ul class="list-unstyled">
                    <li><a href="prywatnosc">Prywatność</a></li>
                    <li><a href="about">O nas</a></li>
                    <li><a href="regulamin">Regulamin</a></li>
                </ul>
            </aside>
            <aside class="col-md-4">
                <div class="footer__title">Dla użytkowników</div>
                <ul class="list-unstyled">
                    <li><a href="artykuly">Baza artykułów</a></li>
                    <li><a href="dokumenty">Wzory dokumentów</a></li>
                    <li><a href="adresy-urzedow">Adresy urzędów</a></li>
                    <li><a href="akty-prawne">Baza aktów prawnych</a></li>
                </ul>
            </aside>
            <aside class="col-md-4">
                <div class="footer__title"> Eprawnik.pl </div>
                <address>
                    ul. Sądowa 123<br/>
                    81-001 Gdynia<br/>
                    Polska<br/>
                    <a href="mailto:kontakt@eprawnik.pl">Skontaktuj się z nami</a>
                </address>
            </aside>
        </div>
        <div class="row footer_class">
            <div class="col-md-5">
                <p>
                    WAI &ndash; ETI, PG &ndash; Projekt zaliczeniowy
                    <br>Mirosław Sitek
                </p>
            </div>
            <div class="col-md-7">
                <p>
                    Strona korzysta z plików cookies w celu realizacji usług i zgodnie z <a href="prywatnosc" id="close-cookie-info">Polityką Prywatności</a>. Możesz określić warunki przechowywania lub dostępu do plików cookies w Twojej przeglądarce.
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Bootstrap core JavaScript
        ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
{#        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>#}
{#        <script>window.jQuery || document.write('<script src="../../web/static/js/jquery.min.js"><\/script>');</script>#}
<script src="web/static/js/jquery-1.11.3.min.js"></script>
<script src="web/static/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->

<script src="web/static/js/main.js"></script>
<script src="web/static/js/validator.min.js"></script>
