            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
            <meta name="description" content="Projekt zaliczeniowy AiUI - Tomasz Boiński">
            <meta name="author" content="Mirosław Sitek">
            <link rel="icon" href="../../favicon.ico">

            <title>E-prawnik</title>

            <!-- Bootstrap core CSS -->
            <link href="web/static/css/bootstrap/bootstrap.min.css" rel="stylesheet">

            <!-- Custom styles -->
            <link href="web/static/css/elawyer.css" rel="stylesheet">