<header>

    <!-- Fixed navbar -->

    {# User #}
    {%if sesja.role == 'user'%}
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-color">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="find">E-prawnik.pl</a>
                    <p class="navbar-text">Witaj {{sesja.name}} ({{sesja.role}})</p>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="about">O nas</a></li>
                        <li><a href="mailto:kontakt@eprawnik.pl">Kontakt</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Moje konto <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="view-user?id={{sesja.id}}" accesskey="m">Moje dane</a></li>

                                <li><a href="edit-lawyer?id={{sesja.id_lawyer}}">Dodaj wizytówkę</a></li>
                                <li><a href="logout">Wyloguj</a></li>

                            </ul>
                        </li>
                    </ul>
                </div> 
            </div>
        </nav>

{# Prawnik #}
    {%elseif sesja.role == 'lawyer'%}
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-color">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="find">E-prawnik.pl</a>
                    <p class="navbar-text">Witaj {{sesja.name}} ({{sesja.role}})</p>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        {#                    <li class="active"><a href="find">Główna</a></li>#}
                        <li><a href="about">O nas</a></li>
                        <li><a href="mailto:kontakt@eprawnik.pl">Kontakt</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Moje konto <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="view-lawyer?id={{sesja.id_lawyer}}" accesskey="m">Moje dane</a></li>
                                <li><a href="logout">Wyloguj</a></li>
                            </ul>
                        </li>
                    </ul>
                </div> 
            </div>
        </nav>

{# Admin #}
    {%elseif sesja.role == 'admin'%}
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-color">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="find">E-prawnik.pl</a>
                    <p class="navbar-text">Witaj {{sesja.name}} ({{sesja.role}})</p>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="users">Użytkownicy</a></li>
                        <li><a href="lawyers">Prawnicy</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Moje konto <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="edit-user?id={{sesja.id}}">Twoje konto</a></li>
                                <li><a href="logout">Wyloguj</a></li>
                            </ul>
                        </li>
                    </ul>
                </div> 
            </div>
        </nav>
    {%else%}

{# Niezalogowany #}
        <nav class="navbar navbar-default navbar-fixed-top navbar-inverse navbar-color">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="find">E-prawnik.pl</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="about">O nas</a></li>
                        <li><a href="mailto:kontakt@eprawnik.pl"    >Kontakt</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="login">Zaloguj</a></li>
                        <li><a href="jestes">Jesteś prawnikiem?</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
    {%endif%}
</header>