{% extends "templates/base_template.php.twig" %}

{%block contents %}

    <div class="container">
        <div class="row">
            <div class ="col-md-12">

                <form method="post">
                    <br>
                    <br>
                    <h2>Czy usunąć użytkownika:</h2>
                    <h1>{{user.full_name}}</h1>
                    <br>
                    <button class="btn btn-info" type="submit" value="Usuń">Usuń</button>
                    <a href="find" class="btn btn-info" role="button">Anuluj</a>
                </form>

            </div>
        </div>
    </div>
{%endblock%}