{% extends "templates/base_template.php.twig" %}

{%block contents %}
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class ="col-md-12">
                <div class="alert alert-success" role="alert">Konto usunięte</div>
             <a href="find" class="btn btn-lg btn-info" role="button">OK</a>
            </div>
        </div>

    </div>
{%endblock%}