{% extends "templates/base_template.php.twig" %}

{%block contents %}
    <div class="container search-form"> <!-- /formularz -->

        <form class="form-inline form-signin" method="post">
            <h2 class="form-signin-heading">Znajdź prawnika</h2>
            <div class="form-group">
                <input type="text" id="spec" class="form-control" placeholder="specjalizacja" name="spec" value="{{param[0]}}" autofocus>
            </div>
            <div class="form-group">
                <input type="text" id="city" class="form-control" placeholder="miasto" name="city" value="{{param[1]}}">
            </div>          
            <button class="btn btn-primary " type="submit">Szukaj</button>
        </form>
    </div> <!-- /formularz -->

    {% if lawyers[0]=='pusto' %}
        <div class="container">
            <h2>Nie znaleziono prawnika o zadanych kryteriach.</h2>
            <h4>Spróbuj podać tylko specjalizację lub tylko miasto.</h4>
        </div>
    {% elseif lawyers|length >= 1 %}
        <div class="container table-container">
            <div class="row">
                {%for lawyer in lawyers%}
                    <div class=" col-sm-4">
                        <a href="view-lawyer?id={{lawyer.Id}}" class="lawyer-finded" >
                            
                            <strong> {{lawyer.id_user.full_name}}</strong><br>
                                {{lawyer.spec}}<br>
                                {{lawyer.id_user.city}}
                           
                        </a>
                    </div>
                {%endfor%}
            </div>
        </div>
    {% endif %}
{%endblock%}