{% extends "templates/base_template.php.twig" %}

{%block contents %}

    <div class="container prawnik_view">
        <div class="row ">
            
            
            <div class ="col-md-8 col-md-offset-2 ">
                <h2>Dane prawnika:</h2>
                <h3>{{lawyer.full_name}}</h3>
            
                <div class ="col-sm-3"><p class="description">Miejscowość:</p></div><div class ="col-sm-9"><p class="description">{{lawyer.id_user.city}} </p></div>
                <div class ="col-sm-3"><p class="description">Adres:</p></div><div class ="col-sm-9"><p class="description">{{lawyer.street_addr}} </p></div>
                <div class ="col-sm-3"><p class="description">Email:</p></div><div class ="col-sm-9"><p class="description">{{lawyer.id_user.email}} </p></div>

                <div class ="col-sm-3"><p class="description">NIP:</p></div><div class ="col-sm-9"><p class="description">{{lawyer.nip}} </p></div>
                <div class ="col-sm-3"><p class="description">Telefon:</p></div><div class ="col-sm-9"><p class="description">{{lawyer.phone}} </p></div>
                <div class ="col-sm-3"><p class="description">Nr. konta:</p></div><div class ="col-sm-9"><p class="description">{{lawyer.accnt}} </p></div>
                <div class ="col-sm-3"><p class="description">Specjalizacja:</p></div><div class ="col-sm-9"><p class="description">{{lawyer.spec}} </p></div>
                <div class ="col-sm-3"><p class="description">Ocena:</p></div><div class ="col-sm-9"><p class="description"> {{lawyer.rating}} </p></div>

            
                
                {%if sesja.role == 'lawyer'%}
               <div class="col-sm-10">
                    <a href="edit-lawyer?id={{lawyer.Id}}" class="btn btn-info" role="button">Edytuj</a>
                    <a href="find" class="btn btn-info" role="button">Powrót do wyszukiwania</a>
                    <p></p>
                </div>
                    {%elseif sesja.role == 'admin'%}
                <div class="col-sm-10">
                    <a href="edit-lawyer?id={{lawyer.Id}}" class="btn btn-info" role="button">Edytuj</a>
                    <a href="lawyers" class="btn btn-info" role="button">Powrót</a>
                    <p></p>
                </div>
                {%else%}
                <div class="col-sm-10">
                    <a href="find" class="btn btn-info" role="button">Powrót do wyszukiwania</a>
                    <p></p>
                </div>
                {%endif%}
                
                
                
            </div>
        </div>
    </div>

{%endblock%}