{% extends "templates/base_template.php.twig" %}

{%block contents %}
    <div class="container">
        <form class="form-signin" data-toggle="validator" method="post">
            <div class="row">

                <div class ="col-sm-2"></div>
                <div class ="col-sm-10">
                    <h1> Dodaj wizytówkę</h1>
                </div>
                <br>
            </div>
            <input type="hidden" name="name" value="{{lawyer.id_user.name}}">

            <div class="row">

                <h4 class ="col-sm-3">Użytkownik:</h4>
                <h4 class="col-sm-9"> {{lawyer.id_user.full_name}}</h4>

                <h4 class ="col-sm-3">Miasto:</h4>
                <h4 class="col-sm-9"> {{lawyer.id_user.city}}</h4>

                <h4 class ="col-sm-3">E-mail:</h4>
                <h4 class="col-sm-9"> {{lawyer.id_user.email}}</h4>

                <h4 class ="col-sm-8 col-sm-offset-2">Wypełnij wszystkie pola</h4>

            </div>

            <input type="hidden" name="last_name" value="{{lawyer.id_user.last_name}}">

            <input type="hidden" name="login" value="{{lawyer.id_user.login}}">

            <input type="hidden" name="pass" value="{{lawyer.id_user.pass}}">

            <input type="hidden" name="city" value="{{lawyer.id_user.city}}">

            <input type="hidden" name="email" value="{{lawyer.id_user.email}}">

            <input type="hidden" name="role" value="lawyer">

            <div class="form-group row">
                <label for="NIP" class="col-sm-2 form-control-label">NIP</label>
                <div class="col-sm-10">
                    <input type="text" pattern="^\d{10}$" class="form-control" id="NIP" placeholder="NIP" name="NIP" value="{{lawyer.nip}}" required>
                    <div class="help-block">Dokładnie 10 cyfr</div>
                </div>
            </div>

            <div class="form-group row">
                <label for="street_addr" class="col-sm-2 form-control-label">Adres:</label>
                <div class="col-sm-10">
                    <input type="text" maxlength="30" class="form-control" id="street_addr" placeholder="Adres" name="street_addr" value="{{lawyer.street_addr}}" data-error="Wymagane, max długość 30 znaków" required>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="form-group row">
                <label for="phone" class="col-sm-2 form-control-label">Telefon:</label>
                <div class="col-sm-10">
                    <input type="text" pattern="^[0-9\+\(\)\s]{1,30}$" maxlength="25" class="form-control" id="phone" placeholder="Telefon" name="phone" value="{{lawyer.phone}}" data-error="Wymagane, max długość 25 znaków" required>
                    <div class="help-block with-errors"></div>
                </div>
            </div>

            <div class="form-group row">
                <label for="accnt" class="col-sm-2 form-control-label">Nr konta:</label>
                <div class="col-sm-10">
                    <input type="text" pattern="^\d{26}$" class="form-control" id="accnt" placeholder="Nr konta" name="accnt" value="{{lawyer.accnt}}" required>
                    <div class="help-block">Dokładnie 26 cyfr</div>
                </div>
            </div>

            <div class="form-group row">
                <label for="spec" class="col-sm-2 form-control-label">Specjalizacja:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="spec" placeholder="Specjalizacja" name="spec" value="{{lawyer.spec}}" required>
                </div>
            </div>

            <input type="hidden" name="id" value="{{lawyer.Id}}">
            <input type="hidden" name="id_user" value="{{lawyer.id_user.Id}}">

            <div class="col-sm-10 col-sm-offset-2">
                <button class="btn btn-info" type="submit" value="Zapisz">Zapisz</button>
                <a href="find" class="btn btn-info" role="button">Anuluj</a>
            </div>
        </form>
    </div>
</div>
</div>

{%endblock%}