{% extends "templates/base_template.php.twig" %}

{%block contents %}
    <div class="container prawnik_view">
        <div class="row">

            <form class="form-signin" data-toggle="validator" method="post">
                <div class ="col-sm-2"></div>
                <div class ="col-sm-10">
                    <h1> Edytuj dane</h1>
                    
                </div>
                <br>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 form-control-label">Imię</label>
                    <div class="col-sm-10">
                        <input type="text" pattern="^[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]+$" class="form-control" id="name" placeholder="Imię" name="name" value="{{lawyer.id_user.name}}" data-error="To chyba nie jest prawdziwe Imię?" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>    

                <div class="form-group row">
                    <label for="last_name" class="col-sm-2 form-control-label">Nazwisko</label>
                    <div class="col-sm-10">
                        <input type="text" pattern="^[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]+$" class="form-control" id="last_name" placeholder="Nazwisko" name="last_name" value="{{lawyer.id_user.last_name}}" data-error="To chyba nie jest prawdziwe Nazwisko?" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                    <input type="hidden" name="login" value="{{lawyer.id_user.login}}">

                    <input type="hidden" name="pass" value="{{lawyer.id_user.pass}}">
                <div class="form-group row">
                    <label for="city" class="col-sm-2 form-control-label">Miasto zamieszkania</label>
                    <div class="col-sm-10">
                        <input type="text" pattern="^[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]+$" class="form-control" id="city" placeholder="Miasto zamieszkania" name="city" value="{{lawyer.id_user.city}}" data-error="To chyba nie jest prawdziwe Miasto?" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 form-control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="Email" name="email" value="{{lawyer.id_user.email}}" data-error="Wprowadź prawidłowy adres email" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                 <input type="hidden" name="role" value="{{lawyer.id_user.role}}">       

                <div class="form-group row">
                    <label for="NIP" class="col-sm-2 form-control-label">NIP</label>
                    <div class="col-sm-10">
                        <input type="text" pattern="^\d{10}$" class="form-control" id="NIP" placeholder="NIP" name="NIP" value="{{lawyer.nip}}" required>
                        <div class="help-block">Dokładnie 10 cyfr</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="street_addr" class="col-sm-2 form-control-label">Adres:</label>
                    <div class="col-sm-10">
                        <input type="text" maxlength="30" class="form-control" id="street_addr" placeholder="Adres" name="street_addr" value="{{lawyer.street_addr}}" data-error="Wymagane, max długość 30 znaków" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="phone" class="col-sm-2 form-control-label">Telefon:</label>
                    <div class="col-sm-10">
                        <input type="text" pattern="^[0-9\+\(\)\s]{1,30}$" maxlength="25" class="form-control" id="phone" placeholder="Telefon" name="phone" value="{{lawyer.phone}}" data-error="Wymagane, max długość 25 znaków" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="accnt" class="col-sm-2 form-control-label">Nr konta:</label>
                    <div class="col-sm-10">
                        <input type="text" pattern="^\d{26}$" class="form-control" id="accnt" placeholder="Nr konta" name="accnt" value="{{lawyer.accnt}}" required>
                        <div class="help-block">Dokładnie 26 cyfr</div>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="spec" class="col-sm-2 form-control-label">Specjalizacja:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="spec" placeholder="Specjalizacja" name="spec" value="{{lawyer.spec}}" required>
                    </div>
                </div>

                <input type="hidden" name="id" value="{{lawyer.Id}}">
                <input type="hidden" name="id_user" value="{{lawyer.id_user.Id}}">

                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button class="btn btn-info" type="submit" value="Zapisz">Zapisz</button>
                    <a href="find" class="btn btn-info" role="button">Anuluj</a>
                </div>
                <div class ="col-sm-10 col-md-offset-2">
                    <br/>
                    <p> Aby zmienic login i hasło <a href="mailto:kontakt@eprawnik.pl">prześlj maila</a> z prośbą do administratora.</p>
                </div>
            </form>
        </div>
    </div>

{%endblock%}