{% extends "templates/base_template.php.twig" %}

{%block contents %}
    <div class="container table-container">
                
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Miasto</th>
                        <th>Email</th>
                        <th>NIP</th>
                        <th>Konto</th>
                        <th>Specjalizacja</th>
                        <th>Ocena</th>
                    </tr>
                </thead>

                <tbody>
                    {%for lawyer in lawyers%}
                        <tr>
                            <td>
                                <a href="view-lawyer?id={{lawyer.Id}}">{{lawyer.id_user.name}}</a>
                            </td>
                            <td>{{lawyer.id_user.last_name}}</td>
                            <td>{{lawyer.id_user.city}}</td>
                            <td>{{lawyer.id_user.email}}</td>
                            <td>{{lawyer.nip}}</td>
                            <td>{{lawyer.accnt}}</td>
                            <td>{{lawyer.spec}}</td>
                            <td>{{lawyer.rating}}</td>
                            <td>
                                <a href="edit-lawyer?id={{lawyer.Id}}">Edytuj</a> |
                                <a href="delete?id={{lawyer.id_user.Id}}">Usuń</a>
                            </td>
                        </tr>
                    {%else%}
                        <tr>
                            <td colspan="4">Nie znaleziono użytkowników</td>
                        </tr>
                    {%endfor%}    
                </tbody>
                <tfoot>
                    <tr>
                        <td class="total" colspan="9">Łącznie: {{lawyers|length}} prawników</td>
                    </tr>
                </tfoot>
            </table>
    </div>

{%endblock%}