{% extends "templates/base_template.php.twig" %}

{%block contents %}
    <div class="container">

        <form class="form-signin" method="post">
            <h2 class="form-signin-heading">Zaloguj się</h2>
            <h3>{{badlogin}}</h3>
            <label for="inputEmail" class="sr-only">Login</label>
            <input type="text" id="inputEmail" class="form-control " placeholder="Login" name="login" value="" required autofocus>
            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control " placeholder="Hasło" name="pass" value="" required>
            <br>
            <button class="btn btn-info" type="submit">Zaloguj</button>
        </form>

        <div class="register">Nie masz konta?  <a href="new-user">Zarejestruj się</a></div>

    </div> <!-- /container -->
{%endblock%}
