{% extends "templates/base_template.php.twig" %}

{%block contents %}
    <div class="container">
        <br>
        <h1>Nie ma takiego prawnika</h1>
        <br>
        <a href="find" class="btn btn-info" role="button">Storna główna</a>
    </div>
    
{%endblock%}