{% extends "templates/base_template.php.twig" %}

{%block contents %}

    <div class="container prawnik_view">
        <div class="row">
            {#<div class ="col-md-12">#}
            <div class ="col-md-8 col-md-offset-2 ">
                <h2>Dane użytkownika:</h2>
                <h3>{{user.full_name}}</h3>

                <div class ="col-sm-3"><p class="description">Miejscowość:</p></div><div class ="col-sm-9"><p class="description">{{user.city}} </p></div>
                <div class ="col-sm-3"><p class="description">Email:</p></div><div class ="col-sm-9"><p class="description">{{user.email}} </p></div>
                <div class ="col-sm-3"><p class="description">Rola:</p></div><div class ="col-sm-9"><p class="description">{{user.role}} </p></div>

                {%if sesja.role == 'user'%}
                    <div class="col-sm-10">
                        <a href="edit-user?id={{user.Id}}" class="btn btn-info" role="button">Edytuj</a>
                        <a href="find" class="btn btn-info" role="button">Powrót do wyszukiwania</a>
                        <p></p>
                    </div>
                {%elseif sesja.role == 'admin'%}
                    <div class="col-sm-10">
                        <a href="edit-user?id={{user.Id}}" class="btn btn-info" role="button">Edytuj</a>
                        <a href="users" class="btn btn-info" role="button">Powrót</a>
                        <p></p>
                    </div>
                {%endif%}

            </div>
        </div>
    </div>
{%endblock%}