{% extends "templates/base_template.php.twig" %}

{%block contents %}

    <div class="container">
        <div class="row">

            <form class="form-signin" data-toggle="validator" role="form" method="post">
                <div class ="col-sm-2"></div>
                <div class ="col-sm-10">
                    <h1> Rejestracja użytkownika</h1>
                    <h3> Wypełnij wymagane pola</h3>
                </div>
                <br>
                <div class="form-group row">
                    <label for="name" class="col-sm-2 form-control-label">Imię</label>
                    <div class="col-sm-10">
                        <input type="text" pattern="^[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]+$" class="form-control" id="name" placeholder="Imię" name="name" value="{{user.name}}" data-error="To chyba nie jest prawdziwe Imię?" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="last_name" class="col-sm-2 form-control-label">Nazwisko</label>
                    <div class="col-sm-10">
                        <input type="text" pattern="^[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]+$" class="form-control" id="last_name" placeholder="Nazwisko" name="last_name" value="{{user.last_name}}" data-error="To chyba nie jest prawdziwe Nazwisko?" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="login" class="col-sm-2 form-control-label">Login</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="login" placeholder="Login" name="login" value="{{user.login}}" required>
                    </div>
                </div>
                <div class="form-group row" >
                    <label for="pass" class="col-sm-2 form-control-label">Hasło</label>
                    <div class="col-sm-10">
                        <input type="password" data-minlength="6" class="form-control" id="pass" placeholder="Hasło" name="pass" value="{{user.pass}}" required>
                        <div class="help-block">Minialnie 6 znaków</div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="city" class="col-sm-2 form-control-label">Miasto zamieszkania</label>
                    <div class="col-sm-10">
                        <input type="text" pattern="^[a-zA-ZąćęłńóśźżĄĆĘŁŃÓŚŹŻ]+$" class="form-control" id="city" placeholder="Miasto zamieszkania" name="city" value="{{user.city}}" data-error="To chyba nie jest prawdziwe Miasto?" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="email" class="col-sm-2 form-control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="email" placeholder="Email" name="email" value="{{user.email}}" data-error="Wprowadź prawidłowy adres email" required>
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                
                <input type="hidden" name="role" value="user">
                <input type="hidden" name="id" value="{{user.Id}}">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <button class="btn btn-info" type="submit" value="Zapisz">Zapisz</button>
                    <a href="find" class="btn btn-info" role="button">Anuluj</a>
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}