{% extends "templates/base_template.php.twig" %}

{%block contents %}

    <div class="container table-container">

            <table class="table table-hover">   
                <thead>
                    <tr>
                        <th>Imię</th>
                        <th>Nazwisko</th>
                        <th>Miasto</th>
                        <th>Email</th>
                    </tr>
                </thead>
                <tbody>
              
                    {% for user in users %}
                        <tr>
                            <td>
                                <a href="view-user?id={{user.Id}}">{{user.name}}</a>
                            </td>
                            <td>{{user.last_name}}</td>
                            <td>{{user.city}}</td>
                            <td>{{user.email}}</td>
                            <td>
                                <a href="edit-user?id={{user.Id}}">Edytuj</a> |
                                <a href="delete?id={{user.Id}}">Usuń</a>
                            </td>
                        </tr>
                    {% endfor %}
               
                </tbody>
                <tfoot>
                    <tr>
                        <td class="total" colspan="5">Łącznie: {{users|length}} użytkowników</td>
                    </tr>
                </tfoot>
            </table>
    </div>
                    
{%endblock%}