{% extends "templates/base_template.php.twig" %}

{%block contents %}
    <div class="container">
        <br>
        <h1>Użytkownik o takim loginie już istnieje</h1>
        <br>
        <a href="new-user" class="btn btn-info" role="button">Spróbuj jeszcze raz</a>
    </div>
    
{%endblock%}