<!DOCTYPE html>
<html lang="pl">
    <head>
        {{ include('includes/head.inc.php.twig') }}
    </head>

    <body>
        {{ include('includes/header.inc.php.twig') }}
    
        {%block contents %}
        {%endblock%}
    
        {{ include('includes/footer.inc.php.twig') }}
    </body>
</html>