body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.navbar-color{
    background-color: #441a0e;
    /*background-color: #000000;*/
}

.search-form{
    background-color: #f7d6b7;
    padding-top: 200px;
    padding-bottom: 100px;
    background-image: url("../img/lawyer-background.jpg");
    background-size: 100%;
    /*text-align: center;*/
}

.search-form h2{
    color: white;
}


.table-container{
    margin-top: 30px;
}

.lawyer-finded{
    display: block;
    background-color: #ebe9e9;
    padding: 15px 5px 15px 10px;
    margin: 3px 0px 3px 0px;
    border-width: 0px 0px 2px 0px;
    border-color: #d9d9d9; 
    border-style: solid;
}

.lawyer-finded:hover {
    background-color: #d9d9d9;
    text-decoration: none;
   
}

a.lawyer-finded{
    color: black;
}


.form-signin {
    max-width: 1000px;
    padding: 15px;
    margin: 0 auto;
    width: 50%;
}

.register {
    padding: 15px;
    margin: 0 auto;
    width: 60%;
    text-align: right;
}

.footer_class{
    background-color: #ebe9e9;
    margin-top: 20px;
    padding-top: 10px;
    border-top: #441a0e;
    border-top-style: solid;
    border-top-width: 3px;
}

.static-page-container{
    margin: 25px;
}

.finded{
    
}

.prawnik_view{
    background-color: #ebe9e9;
/*    padding: 15px 5px 15px 10px;
    margin: 3px 0px 3px 0px;*/
margin-top:30px;
    border-width: 0px 0px 2px 0px;
    border-color: #d9d9d9; 
    border-style: solid;
}

.prawnik_view h3{
    margin-top: 5px;
}

.total{
    font-weight: bold;
}

.static-padding{
    padding: 50px;
}