/*body{
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    background-color: white;
    margin-top: 165px;
}*/

/*table {
    border-collapse: collapse;
    border: 1px solid #778899;
        width: 800px;
    width:100%;
    margin: 10px 0px;
}

table td, table th {
    padding: 5px;
}

table tbody td, table th {
    border: 1px solid #778899;
}

table tbody td[colspan] {
    text-align: center;
}

table tfoot td:last-child {
    text-align: right;
}

form label {
    display: block;
    margin: 10px 10px 10px 0px;
    width: 800px;
}

textarea {
    display: block;
    margin: 10px 10px 10px 0px;
    padding: 2px;
    border-width: 1px;
    width: 794px;
    height: 90px;
}

form label input {
    width: 700px;
    float: right;
}

form input[type=submit] {
    display: block;
    width: 80px;
    margin: 10px 0px 10px 720px;
}

form.inline, form.inline input {
    margin: 0px;
    width: auto;
    display: inline;
}

a.cancel {
    float: left;
}

p.description {
    width: 800px;
    text-align: justify;
}


p.right{
    width: 800px;
    text-align: right;
}

footer {
    border-top: 1px solid black;
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    bottom: 0px;
    width: 780px;
}

#cart {
    position: relative;
    width: 800px;
}

.footer-info{
    width: 800px;
    overflow:hidden;
}

.col-half{
    display: inline-block;
    width: 50%;

}

.footer__title{
    font-family: Verdana, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

.footer_class{
    border-top: #000;
    border-width: 1px;
    border-top-style: solid;
    margin-top: 20px;
}*/



/* do pracy */
body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}