{% extends "templates/base_template.php.twig" %}

{%block contents %}
    <div class="container">
        <div class="row">
            <div class ="col-md-12 static-padding">

                <br>
                <h1>Dane wizytówki zostały zmienione</h1>
                <br>
                <a href="find" class="btn btn-info" role="button">OK</a>

            </div>
        </div>
    </div>
{%endblock%}