{% extends "templates/base_template.php.twig" %}

{%block contents %}
    <div class="container">
        <div class="row">
            <div class ="col-md-12 static-padding">


                <br>
        <h1>Strona nie istnieje</h1>
        <br>
        <a href="find" class="btn btn-info" role="button">Strona główna</a>
            </div>
        </div>
    </div>
{%endblock%}