{% extends "templates/base_template.php.twig" %}

{%block contents %}
    <div class="container">
        <div class="row">
            <div class ="col-md-12 static-padding">


                <h1>STRONA W PRZYGOTOWANIU</h1>
                <p> </p>   
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
                    reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
        </div>
    </div>
{%endblock%}