{% extends "templates/base_template.php.twig" %}

{%block contents %}
    <div class="container">
        <div class="row">
            <div class ="col-md-12 static-padding">

                <br>
                <h1>Użytkownik o takim loginie już istnieje</h1>
                <br>
                <a href="new-user" class="btn btn-info" role="button">Spróbuj jeszcze raz</a>

            </div>
        </div>
    </div>
{%endblock%}